* {
    margin: 0;
    padding: 0;
}

ul {
    position: relative;
    list-style: none;
    display: flex;
    top: -3em;
    left: 3.5em;

}
li {
    margin-left: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
}

li a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

h1 {
    position: relative;
    text-align: center;
    top: 15em;
    left: -355px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 30px ;
}

h2 {
    position : relative;
    height: 2.5em;
    padding: -5%;;
    top: -1em;
}

p {
    position: relative;
    top: 5em;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
}

aside img{
    position: relative;
    height: 50vw;
    left: 1150px;
    top: 50px;
}